.wrapper {
  background-color: var(--primary-color);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  align-items: center;
}

.header-logo-wrapper {
  display: flex;
}
.button {
  color: white;
  background-color: var(--blue);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s;
}
.logo {
  width: 60px;
  height: 60px;
  margin: 0 10px;
}

.title {
  font-weight: bold;
  font-size: 20px;
  color: #444746;
}
