.table-container {
  padding: 20px;
  background: rgb(239, 242, 248);
  border-radius: 10px;
  height: calc(100vh - 80px);
  overflow-y: auto;
  margin-top: 0px;
  overflow-x: auto;
  width: 100%;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #007bff;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  background: rgb(245, 240, 240);
  z-index: 10;
  padding: 10px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.add-user-button {
  background-color: #28a745;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: #218838;
    transform: scale(1.05);
  }
}

.custom-table .ant-table-thead > tr > th {
  position: sticky;
  top: 0;
  background-color: #1d73cf !important;
  z-index: 1000;
  color: white !important;
  font-weight: bold;
  text-align: center;
}

.custom-table {
  width: max-content;
  min-width: 100%;
}
.status-active {
  color: green;
  font-weight: bold;
}

.status-disabled {
  color: red;
  font-weight: bold;
}

.edit-button {
  background-color: #ffc107;
  color: black;
  border: none;
  transition: 0.3s ease;

  &:hover {
    background-color: #e0a800;
    transform: scale(1.05);
  }
}

.disable-button {
  background-color: #dc3545;
  color: white;
  border: none;
  transition: 0.3s ease;

  &:hover {
    background-color: #c82333;
    transform: scale(1.05);
  }
}

.activate-button {
  background-color: #17a2b8;
  color: white;
  border: none;
  transition: 0.3s ease;

  &:hover {
    background-color: #138496;
    transform: scale(1.05);
  }
}

.modal-form {
  .ant-form-item {
    margin-bottom: 16px;
  }

  .ant-input,
  .ant-select-selector {
    border-radius: 8px;
    padding: 10px;
    transition: all 0.3s ease;

    &:focus,
    &:hover {
      border-color: #1890ff !important;
      box-shadow: 0 0 5px rgba(24, 144, 255, 0.5);
    }
  }

  .ant-btn-primary {
    background-color: #1d73cf;
    border-radius: 8px;
    padding: 8px 16px;
    font-weight: bold;

    &:hover {
      background-color: #135ba1;
      transform: scale(1.05);
    }
  }
}
